.input {
  @apply w-full px-2 pt-7 pb-2 leading-4 rounded-sm appearance-none bg-white font-normal outline-none;
}

input.input-primary,
input.input-secondary {
  @apply input border-l-4 border-white text-brand-gray-dark;
}

input.input-error {
  @apply input border border-red-600 text-red-600;
}

input.input-primary:not([value=""]),
input.input-primary:focus,
input.input-primary:hover {
  border-left-color: var(--brand-orange);
}

input.error:not([value=""]),
input.error:focus,
input.error:hover {
  @apply border-l-4;
}

label.input-label-box {
  @apply absolute text-brand-gray-dark text-base pointer-events-none p-0 leading-8 top-center left-3;
  transform: translateY(-50%);
  transition: .75s;
}

label.error {
  @apply text-red-500;
}

input.input-primary.dirty ~ label.input-label-box,
input.input-primary:focus ~ label.input-label-box {
  top: 0.3rem;
  @apply text-brand-gray-dark text-xs transform-none;
}


input.error.dirty ~ label.input-label-box,
input.error:focus ~ label.input-label-box {
  top: 0.3rem;
  @apply text-red-600 text-xs transform-none;
}

input.input-number {
  @apply w-full leading-4 appearance-none border-solid border bg-brand-marine rounded-sm text-center;
}

input.input-number:focus ~ label.input-number-label-box,
input.input-number:valid ~ label.input-number-label-box {
  top: -0.25rem;
  @apply text-brand-gray-dark text-xs transform-none;
}

.btn-save {
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.btn-save .icon {
  @apply inline-block align-middle;
}

.btn-save svg {
  @apply inline-block mr-2 text-xl align-middle;
}

.btn-save span {
  @apply align-middle;
}
