@import "tailwindcss/base";

:root {
  --brand-blue: #07162a;
  --brand-marine: #15325b;
  --brand-blue-grey: #3e526d;
  --brand-orange: #f5931c;
  --brand-gray: #727b86;
  --brand-gray-dark: #2c394a;
  --brand-gray-light: #a8aeb5;
  --brand-spotlight-blue: #1c86f4;
  --xl: 1280px;
}

@layer base {
  @font-face {
    font-family: 'Poppins', sans-serif;
  }

  body {
    font-family: theme('fontFamily.poppins');
    background-color: theme('colors.brand-blue');
    @apply text-white;
  }

  header {
    box-sizing: content-box;
  }
}
