@tailwind base;
@layer base {
  @font-face {
    font-family: "Poppins";
      src: url("/fonts/poppins/Poppins-Regular.eot");
      src: url("/fonts/poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/poppins/Poppins-Regular.otf") format("opentype"),
        url("/fonts/poppins/Poppins-Regular.svg") format("svg"),
        url("/fonts/poppins/Poppins-Regular.ttf") format("truetype"),
        url("/fonts/poppins/Poppins-Regular.woff") format("woff"),
        url("/fonts/poppins/Poppins-Regular.woff2") format("woff2");
    font-display: optional;
  }

  @font-face {
    font-family: "Poppins";
      src: url("/fonts/poppins/Poppins-Italic.eot");
      src: url("/fonts/poppins/Poppins-Italic.eot?#iefix") format("embedded-opentype"),
        url("/fonts/poppins/Poppins-Italic.otf") format("opentype"),
        url("/fonts/poppins/Poppins-Italic.svg") format("svg"),
        url("/fonts/poppins/Poppins-Italic.ttf") format("truetype"),
        url("/fonts/poppins/Poppins-Italic.woff") format("woff"),
        url("/fonts/poppins/Poppins-Italic.woff2") format("woff2");
    font-style: italic, oblique;
    font-display: optional;
  }

  @font-face {
    font-family: "Poppins Thin";
    src: url("/fonts/poppins/Poppins-ExtraLight.eot");
    src: url("/fonts/poppins/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"),
      url("/fonts/poppins/Poppins-ExtraLight.otf") format("opentype"),
      url("/fonts/poppins/Poppins-ExtraLight.svg") format("svg"),
      url("/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"),
      url("/fonts/poppins/Poppins-ExtraLight.woff") format("woff"),
      url("/fonts/poppins/Poppins-ExtraLight.woff2") format("woff2");
    font-weight: 100;
    font-display: optional;
  }

  @font-face {
    font-family: "Poppins Thin";
    src: url("/fonts/poppins/Poppins-ExtraLightItalic.eot");
    src: url("/fonts/poppins/Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
      url("/fonts/poppins/Poppins-ExtraLightItalic.otf") format("opentype"),
      url("/fonts/poppins/Poppins-ExtraLightItalic.svg") format("svg"),
      url("/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype"),
      url("/fonts/poppins/Poppins-ExtraLightItalic.woff") format("woff"),
      url("/fonts/poppins/medium-ExtraLightItalic.woff2") format("woff2");
    font-style: italic, oblique;
    font-display: optional;
  }

  @font-face {
    font-family: "Poppins";
      src: url("/fonts/poppins/Poppins-ExtraLightItalic.eot");
      src: url("/fonts/poppins/Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
        url("/fonts/poppins/Poppins-ExtraLightItalic.otf") format("opentype"),
        url("/fonts/poppins/Poppins-ExtraLightItalic.svg") format("svg"),
        url("/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype"),
        url("/fonts/poppins/Poppins-ExtraLightItalic.woff") format("woff"),
        url("/fonts/poppins/Poppins-ExtraLightItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic, oblique;
    font-display: optional;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-BoldItalic.eot");
    src: url("/fonts/poppins/Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"),
      url("/fonts/poppins/Poppins-BoldItalic.otf") format("opentype"),
      url("/fonts/poppins/Poppins-BoldItalic.svg") format("svg"),
      url("/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype"),
      url("/fonts/poppins/Poppins-BoldItalic.woff") format("woff"),
      url("/fonts/poppins/Poppins-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic, oblique;
    font-display: optional;
  }

  @font-face {
    font-family: "Poppins Light";
    src: url("/fonts/poppins/Poppins-LightItalic.eot");
    src: url("/fonts/poppins/Poppins-LightItalic.eot?#iefix") format("embedded-opentype"),
      url("/fonts/poppins/Poppins-LightItalic.otf") format("opentype"),
      url("/fonts/poppins/Poppins-LightItalic.svg") format("svg"),
      url("/fonts/poppins/Poppins-LightItalic.ttf") format("truetype"),
      url("/fonts/poppins/Poppins-LightItalic.woff") format("woff"),
      url("/fonts/poppins/Poppins-LightItalic.woff2") format("woff2");
    font-style: italic, oblique;
    font-display: optional;
  }

  @font-face {
    font-family: "Poppins Medium";
      src: url("/fonts/poppins/Poppins-Medium.eot");
      src: url("/fonts/poppins/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
        url("/fonts/poppins/Poppins-Medium.otf") format("opentype"),
        url("/fonts/poppins/Poppins-Medium.svg") format("svg"),
        url("/fonts/poppins/Poppins-Medium.ttf") format("truetype"),
        url("/fonts/poppins/Poppins-Medium.woff") format("woff"),
        url("/fonts/poppins/Poppins-Medium.woff2") format("woff2");
    font-display: optional;
  }

  @font-face {
    font-family: "Poppins Black";
    src: url("/fonts/poppins-black/Poppins-Black.eot");
    src: url("/fonts/poppins-black/Poppins-Black.eot?#iefix") format("embedded-opentype"),
      url("/fonts/poppins-black/Poppins-Black.otf") format("opentype"),
      url("/fonts/poppins-black/Poppins-Black.svg") format("svg"),
      url("/fonts/poppins-black/Poppins-Black.ttf") format("truetype"),
      url("/fonts/poppins-black/Poppins-Black.woff") format("woff"),
      url("/fonts/poppins-black/Poppins-Black.woff2") format("woff2");
    font-display: optional;
  }
}
